.github-finder {
  .search-github-header {
    .search {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: cadetblue;
      height: 100px;

      span {
        font-size: 40px;
        color: #fff;
        padding-right: 10px;
      }

      .search-div {
        position: relative;
        input {
          height: 40px;
          max-width: 300px;
          min-width: 150px;
          border-radius: 5px;
          border: 1px solid #ccc;
          padding-left: 15px;
          font-size: 20px;
        }

        .search-loader {
          height: 35px;
          right: 10px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }

  .github-users {
    h2 {
      text-align: center;
      color: cadetblue;
    }

    .profile-list {
      // width: 900px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;

      li {
        display: flex;
        flex-direction: row;
        background: floralwhite;
        padding: 25px;
        border-radius: 4px;
        cursor: pointer;

        img {
          max-height: 150px;
          max-width: 150px;
          border-radius: 8px;
        }

        .profile-info {
          padding-left: 20px;

          .username {
            font-size: 24px;
            line-height: 34px;
            font-weight: bold;
          }
          .location {
            font-size: 18px;
            line-height: 24px;
          }
          .biography {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .github-finder {
    .github-users {
      .profile-list {
        li {
          padding: 20px;
          flex-direction: column;
          img {
            margin: 0 auto 0 auto;
          }

          .profile-info {
            padding: 0;

            .username {
              padding: 10px 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .github-finder {
    .github-users {
      .profile-list {
        grid-template-columns: repeat(2, 1fr);
        li {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .github-finder {
    .github-users {
      .profile-list {
        grid-gap: 1px;
        grid-template-columns: 1fr;
        li {
          text-align: center;
          flex-direction: row;
          padding: 10px 50px;

          img {
            margin: 0;
            margin-right: 20px;
            width: 100px;
            height: 100px;
          }
          .profile-info {
            width: 100%;
            .username {
              font-size: 19px;
              line-height: 25px;
            }
            .location,
            .biography {
              font-size: 16px;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .github-finder {
    .github-users {
      .profile-list {
        grid-gap: 1px;
        grid-template-columns: 1fr;
        li {
          text-align: center;
          flex-direction: row;
          padding: 10px 30px;

          img {
            margin: 0;
          }
          .profile-info {
            width: 100%;
            padding-left: 10px;
            .username {
              font-size: 16px;
              line-height: 20px;
            }
            .location,
            .biography {
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }
}
